body {
  background-image: url(images/background.jpg);
  background-attachment: fixed;
  background-size: cover;
}

nav {
  background-color: #1A1A1A;
}

.brand-logo {
  text-transform: uppercase;
}

.nav-wrapper a{
  color: #FFFFFF;
}

.nav-wrapper span, .colorname {
  color: #E91B23;
}


.colorname:hover:before {
  content: "<";

}

.colorname:hover:after {
  content: "/>";
}

.colorname:hover {
  transition: inherit 1s;
}

.colorb {
  color: #FFFFFF;
}

.side-nav {
  background-color: #1A1A1A;
  height: 250px;
}

.right a:hover, .side-nav a:hover {
  background-color: #E91B23;
}


.nav-wrapper .right .disabled, .side-nav .disabled {
  background-color: #DFDFDF;
}

.bloc {
  margin-top: 20px;
  background-color: #1A1A1A;
}

.header {
  height: 400px;
}
.info {
  margin-top: 50px;
  text-transform: uppercase;
  color: #7E7E7E;
  font-weight: bold;
}

/*ancre pour remonter*/
.btn-floating, .btn-floating:hover {
  background-color: #1A1A1A;
}

.large.material-icons:hover {
  color: #E91B23;
  transition: 0.7s;
}
/*pour la page valid*/
.success {
  color: #FFFFFF;
  font-size: 45px;
}
.large {
  color: #E91B23;
}

/*card*/

.card {
  background: none;
  box-shadow: none;
}
.card .card-image img {
  border: none;
  width: 250px;
  margin: auto;
}

.card .card-content p, p {
  color: #727272;
}

.card-content .border {
  font-size: 20px;
  color: #AAAAAA;
  width: 100%;
  text-align: center;
  background-color: #31312f;
}

.card-content .border:hover, .card-panel .teal:hover {
  background-color: #E91B23;
  transition: all 0.7s;
}

/*progress bar*/

.progress {
text-align: center;
height: 0.5em;
width: 70%;
background-color: #31312f;
}

 .progress .determinate {
  background-color: #E91B23;
}

.name_progress, h4, h3 {
  text-align: center;
  color: #FFFFFF;
}

/*presentation*/

.profilepic {
  border-radius: 50%;
  margin-top: 10px;
}

/*formation*/

.teal {
  background: none !important;
  box-shadow: none;
}

.teal:hover {
    background-color: #E91B23 !important;
    transition: all 0.7s;
}

/*contact*/


/* couleur du label */
 .input-field label, textarea label {
   color: #FFFFFF;
 }

 /* couleur quand on focus le label */
.input-field input[type=text]:focus + label, .input-field input[type=tel]:focus + label,
textarea.materialize-textarea:focus:not([readonly]) + label, .input-field input[type=email]:focus + label {
  color: #E91B23;
}

/* focus underline du label */
.input-field input[type=text]:focus, .input-field input[type=tel]:focus, .input-field input[type=email]:focus , textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #E91B23;
  box-shadow: 0 1px 0 0 #E91B23;
  color: #FFFFFF;
}

/*couleur du texte ecrit*/
.input-field input[type=text], .input-field input[type=tel], .input-field input[type=email], .materialize-textarea {
  color: #FFFFFF;
}

/*icon du formulaire*/
.input-field .prefix.active {
   color: #E91B23;
 }

 .input-field .prefix {
    color: #FFFFFF;
  }
/*quand le champs est validé*/
 .input-field input[type=text].valid, .input-field input[type=tel].valid {
  border-bottom: 1px solid #00BCD4;
  box-shadow: 0 1px 0 0 #00BCD4;
}
  /*quand le champ est invalide*/
  .input-field input[type=text].invalid, .input-field input[type=tel].valid {
    border-bottom: 1px solid #E91B23;
    box-shadow: 0 1px 0 0 #E91B23;
  }
/*btn envoyer*/
  .btn {
    background-color: #31312F;
    margin-bottom: 20px;
  }

  .btn:hover {
    background-color: #85919;
  }

  .waves-effect.waves-teal {
  background-color: #E91B23;
}

/*footer*/

footer.page-footer{
  background-color: #1A1A1A;
}

.grey-text.text-lighten-3:hover {
  color: green;
}

.fa {
  font-size: 2em;
  color: white;
  margin-left: 30px;
  margin-top: 10px;
}

.fa:hover {
  color: #E91B23;
  transition: 0.4s;
}



/* media queries h1 & btn ancre */

@media only screen and (max-width:600px) {

.info {
  font-size: 40px;
}

.btn-floating {
  visibility: hidden;
}
}
