body {
  background-image: url(../images/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

nav {
  background-color: #1A1A1A;
}

.brand-logo {
  text-transform: uppercase;
}

.nav-wrapper a{
  color: #FFFFFF;
}

.nav-wrapper span, .colorR {
  color: #E91B23;
}

.colorW {
  color: #FFFFFF;
}

.side-nav {
  background-color: #1A1A1A;
  height: 250px;
}

.right a:hover, .side-nav a:hover {
  background-color: #E91B23;
}

.nav-wrapper .right .disabled, .side-nav .disabled {
  background-color: #DFDFDF;
}

.bloc {
  margin-top: 20px;
  background-color: #1A1A1A;
}

.header {
  height: 400px;
}
.info {
  margin-top: 50px;
  text-transform: uppercase;
  color: #7E7E7E;
  font-weight: bold;
}


/*gallerie image*/
.card-content {
  background-color: #DFDFDF;
}


.card .card-reveal {
  background-color: #1A1A1A;
  height: 120px;
}
.card .card-reveal p {
  color: #FFFFFF;
}


.card-reveal .card-title, .card-content .card-title {
  font-weight: 700;
}

.card {
  margin-top: 20px;
}


/* media queries  */

@media only screen and (max-width:600px) {

.info {
  font-size: 40px;
}

.card {
  width: 310px;
}
}
